@import url("https://unpkg.com/@blueprintjs/core@^3.13.0/lib/css/blueprint.css");

.bp3-navbar {
    background: green;
}

.icon {
    width: 36px;
    height: 36px;
    margin-right: 10px;
}

.appContainer {
    background-color: #F5F8FA;
    height: 100%;
    overflow: hidden;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 25px;
    overflow: scroll;
}

.panel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 90%;
}

.container .card {
    min-width: 250px;
    max-height: 100px;
    margin: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #182026;
    text-decoration: none; /* no underline */
}

.container .card .status {
    width: 100%;
    text-align: center;
}


body {
}